<!DOCTYPE html>
<html>
  <head>
    <title>smart home temperature</title>
    <!-- <link rel="stylesheet" type="text/css" href="static/css/index.css" /> -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>
  <body>
    <nav>
      <label>Smart Home Temperature</label>
      <ul>
        <li>
          <a href="/">About</a>
          <a href="/predict">Predict</a>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="container">
      <h3>Welcome to Smart Home Temperature</h3>
    </div>

    <h3>Contact Us</h3>
    <h4>
      VIT Bhopal University,<br />
      Bhopal-Indore Highway Kothrikalan, Sehore<br />
      Madhya Pradesh - 466114.<br />
      Email add:- ajay.2021@vitbhopal.ac.in<br />
      Contact No.:- 7742519654
      <br />
    </h4>
  </body>
</html>
